body.layout-top #dg-designer .col-left {
    left: 0;
    right: 0;
    width: 100%;
    bottom: auto;
    height: 76px;
    text-align: center;
}
body.layout-top #dg-designer .col-left .dg-box{
	background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
body.layout-top #dg-designer .col-left ul.menu-left{
    display: inline-block;
    width: auto!important;
    margin: auto;
    float: none;
}
#dg-designer .col-left .menu-left > li {
    border-color: #292f38!important;
    float: left;
    width: auto;
    clear: none;
    border-bottom: 0;
    padding: 0;
    border-radius: 0;
    border-left: 1px solid #292f38;
}
#dg-designer .col-left .menu-left > li:last-child{
	border-right: 1px solid #292f38;
}
body.layout-top #dg-designer .col-left .menu-left > li a {
    padding: 18px 22px!important;
}
body.layout-top .menu-options {
    left: 0;
    top: 138px;
}
.layout-top .product-toolbar-options {
    left: 330px;
}
body.layout-top div#design-area {
    width: calc(100% - 290px);
    margin-top: 138px;
    height: calc(100% - 150px);
}
body.hide-menu.layout-top .div-design-area#design-area {
    width: calc(100% + 30px);
    margin-left: -15px;
}
body.layout-top div#dg-popover {
    top: 138px!important;
    left: 320px;
}
body.hide-menu.layout-top div#dg-popover{
	left: 0;
}
body.layout-top .product-gallery-thumbs {
    left: 0;
}